{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<h1 align="center">Notes</h1>
<ul class="list-group list-group-flush" id="notes">
  {% for note in user.notes %}
  <li class="list-group-item">
    {{note.data}}
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      onclick="deleteNote( {{ note.id }} )"
    ></button>
  </li>
  {% endfor %}
</ul>
<form action="#" method="POST">
  <p>Note:</p>
  <p><input type="text" name="note" id="note" /></p>
  <br />
  <p>Search:</p>
  <p><input type="text" name="keyword" /></p>
  <br />
  <div align="center">
    <button type="submit" class="btn btn-primary">Add Note</button>
  </div>
</form>

{% if items %} {% for event in items %} {% for location in locations %}
<div class="card">
  <img
    src="{{ event['images'][0]['url'] }}"
    id="card-img-1"
    style="height: 250px"
    class="card-img-top"
    alt="..."
  />
  <div class="card-body">
    <h5 id="card-title-1" class="card-title">{{event['name']}}</h5>
    <p class="card-text">
      Where:
      <span id="card-desc-1" class="card-text"
        >{{ location['city']['name'] }}</span
      >
    </p>
    <p class="card-text">
      When:
      <span id="card-desc-2" class="card-text"
        >{{ event['dates']['start']['dateTime'] }}</span
      >
    </p>
    <a
      id="desLink"
      href="{{ event['url'] }}"
      target="_blank"
      rel="noopener noreferrer"
      class="btn btn-primary"
      >Learn More</a
    >
    <button
      type="button"
      id="{{ event['id'] }}"
      class="link-btn btn btn-success mx-auto"
      onclick="addToList(id)"
    >
      Add To Watch List
    </button>
  </div>
</div>
{% endfor %} {% endfor %} {% endif %} {% endblock %}
